<ul class="list-group">
  <li class="list-group-item" *ngFor="let item of list">
    <div *ngFor="let field of fields">
      <ng-container *ngIf="field.label">
        {{field.label}}:
      </ng-container>

      <ng-container *ngIf="item[field.name]">
        <ng-container *ngIf="!field.isLink">
          {{item[field.name]}}
        </ng-container>
        <ng-container *ngIf="field.isLink">
          <a class="enlace-contenido" target="_blank" [href]="item[field.name]">
            {{item[field.name]}}
          </a>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="!item[field.name]">
        ---
      </ng-container>
    </div>
  </li>
</ul>
